/************************************************************* 
	GLOBAL
 *************************************************************/
 *{font-family: 'HelveticaLT-Condensed-Light';}
 html,body{ background:url(bg1.jpg) no-repeat center bottom fixed;}
.clear {
	clear: both;
}
.ui-page {
	background :#6e0012 url(bg1.jpg) 0 0 no-repeat fixed !important;
	background-size : cover;
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-attachment: fixed;
}
#logo a {
	background: url(logo.png) no-repeat;
	background-size: 100% 100%;
}
		@font-face {
				font-family: 'HelveticaLT-Condensed-Light';
				src: url('helveticaltcondensedlight.eot');
				src: url('helveticaltcondensedlight.eot?#iefix') format('embedded-opentype'),
						 url('helveticaltcondensedlight.woff') format('woff'),
						 url('helveticaltcondensedlight.ttf') format('truetype'),
						 url('helveticaltcondensedlight.svg#helveticaltcondensedlight') format('svg');
				font-weight: normal;
				font-style: normal;
		}
/************************************************************* 
	PAGINA INICIAL
 *************************************************************/
/*init*/
#container {
	width: 100%;
	height: 100%;
	display: table;
	background:#6e0012 url(bg1.jpg) no-repeat;
	background-size: 100% 100%;
}
#logo-inicial {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#logo-inicial a img {
	max-width: 70%;
	max-height:215px;
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}
/************************************************************* 
	PAGINA LOGEO
 *************************************************************/
#container-login {
	width: 100%;
	height: 100%;
	display: table;
	background: url(bg1.jpg) no-repeat;
	background-size: 100% 100%;
}
#logo-interior {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding:15% 0 5% 0;
}
#logo-interior a img {
	max-width: 45%;
	max-height: 108px;
	text-align: center;
	margin: 0 auto;
}
#login-form {
	width: 80%;
	margin: 0 auto;
	padding:0 0 10% 0;
}
.box-input {
	width: 80%;
	margin: 0 auto;
}
.box-input input {
	border: none;
	height: 40px;
	background: #FFF;
	box-shadow: none;
	border-radius: 4px;
	color: #969696;
	font-style: italic;
	background: #FFF;
	border: solid 1px #CCCCCC;
	margin: 0 0 1px 0;
	font-size: 12px;
}
.box-submit {
	width: 80%;
	margin: 0 auto;
}
.ui-btn.my-btn {
	border-radius: 4px;
	padding: 0;
	height: 40px;
	background:none;
}
.ui-btn.my-btn.ui-btn-up-c,
.ui-btn.my-btn.ui-btn-hover-c {
	border:none;
}
.ui-btn.my-btn .ui-btn-inner {
	display: block;
	text-align: center;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #dd0219 ), to( #a0010e ));
	background-image: -webkit-linear-gradient( #dd0219, #a0010e );
	background-image: -moz-linear-gradient( #dd0219, #a0010e );
	background-image: -ms-linear-gradient( #dd0219, #a0010e );
	background-image: -o-linear-gradient( #dd0219, #a0010e );
	background-image: linear-gradient( #dd0219, #a0010e );
	color: #FFF;
	text-shadow: 0 1px 0 #000000;
	box-shadow: 0 2px 1px #5E0110;
	border-radius: 4px;
	height: 40px;
	line-height:40px;
	padding: 0;
	margin: 0;
	font-weight: normal;
}
div.box-submit div.btnsubmit a.my-btn span.ui-btn-inner {
	border: none;
}
#registro-ahora {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	color: #FFF;
	text-shadow: none;
}
#registro-ahora a {
	color: #ff0028;
	font-weight: normal;
	text-shadow: 1px 1px 1px #000000; font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
}
/*footer*/
#container-login {
	width: 100%;
	height: 100%;
	display: table;
	background: url(bg1.jpg) no-repeat;
	background-size: 100% 100%;
}
/************************************************************* 
	PAGINA LISTA
 *************************************************************/
#head {
	background-image: -webkit-gradient(linear, left top, left bottom, from( #c0001f ), to( #880016 ));
	background-image: -webkit-linear-gradient( #c0001f, #880016 );
	background-image: -moz-linear-gradient( #c0001f, #880016 );
	background-image: -ms-linear-gradient( #c0001f, #880016 );
	background-image: -o-linear-gradient( #c0001f, #880016 );
	background-image: linear-gradient( #c0001f, #880016 );
	line-height: 40px;
	height: 55px;
	border: none;
}
/*page 2*/
#main-list {
	padding: 0;
}
#head-left {
	float: left;
	width: 15%;
	text-align: center;
	display: table-cell;
	height: 55px;
	background:url(divisor.png) no-repeat center right;
}
#head-left img {
	max-height: 24px;
	margin:14px auto 0 auto;

}
#logo-w {
	float: left;
	width: 70%;
	text-align: center;
	display: table-cell;

}
#logo-w img {
	height: 36px;
	margin:5px auto 0 auto;
}
#head-right {
	float: left;
	width: 15%;
	text-align: center;
	display: table-cell;
	height: 55px;
	background:url(divisor.png) no-repeat center left;
}
#head-right img {
	max-height: 24px;
	margin: 0 auto;
	margin:14px auto 0 auto;
}
.item-list {

}
.item-margin-left{
	width:1%; float:left;
	min-height: 85px;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #b9001e ), to( #a3001a ));
	background-image: -webkit-linear-gradient( #b9001e, #a3001a );
	background-image: -moz-linear-gradient(#b9001e, #a3001a );
	background-image: -ms-linear-gradient( #b9001e, #a3001a );
	background-image: -o-linear-gradient( #b9001e, #a3001a );
	background-image: linear-gradient( #b9001e, #a3001a );	
}
.item-content {
	min-height: 85px;
	width: 84%;
	float: left;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f3f3f3 ), to( #d7d7d7 ));
	background-image: -webkit-linear-gradient( #f3f3f3, #d7d7d7 );
	background-image: -moz-linear-gradient( #f3f3f3, #d7d7d7 );
	background-image: -ms-linear-gradient( #f3f3f3, #d7d7d7 );
	background-image: -o-linear-gradient( #f3f3f3, #d7d7d7 );
	background-image: linear-gradient( #f3f3f3, #d7d7d7 );
	border-bottom: solid 1px #999999;
}
.item-content .title {
	color: #c1001f;
	padding: 5px 2% 3px 2%;
	font-size: 1.3em;
	text-transform:uppercase;
}
.item-content .desc {
	color: #505050;
	padding: 3px 2% 3px 2%;
}
.bgarrow {
	width: 15%;
	float: left;
	min-height: 85px;
	background:url(bgarrowr.png);
	display: table-cell;
	background-size: 100%;
	border-bottom: solid 1px #999999;
}
.bgal {
	width:100%;
	min-height: 85px;
	background:url(arrow_s.png) repeat-y left top;
}
.bgarrow a {
	width: 99%;
	height: 99%;
	padding: 0;
	margin: 0;
	border: none;
	background: url(arrow.png) no-repeat center top;
	background-size: 100% 100%;
	border-radius: 0;
}
.bgarrow a span.ui-btn-inner {
	border: none;
}
